backend/**/target/
backend/**/*.class
backend/**/.idea/
backend/**/*.iml

mobile/android/.gradle/
mobile/android/build/
mobile/android/app/build/
mobile/android/.idea/
mobile/android/local.properties

mobile/ios/Pods/
mobile/ios/*.xcworkspace
mobile/ios/DerivedData/
mobile/ios/.DS_Store

telegram/bot/__pycache__/
telegram/bot/venv/
telegram/mini-app/node_modules/
telegram/mini-app/dist/

local-dev.yaml

.env
*.log

backend/.env

admin-panel/.env